@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-size: 14px;
}

.menu-item {
  display: flex;
  margin-right: auto;
  margin-bottom: 2em;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
  border-radius: 2em;
  box-shadow: 8px 8px 10px #aaa;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.menu-divider {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.menu-item-description {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: left;
  width: 360px;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}