@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --main-bg-color: #d8ead2;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
}
